/*~~~~~~~~~~~~~~*/
/*  App字体大小  */
/*~~~~~~~~~~~~~~*/
$checkboxFontSize:13px;/*no*/
$fontSize13:13px;/*no*/
$fontSize15:15px;/*no*/
$fontSize16:16px;/*no*/
$inputFontSize:16px;/*no*/
$btnFontSize:16px;/*no*/
$pageTitleFontSize:16px;/*no*/
$headerTextFontSize:18px;/*no*/
$fontSize20:20px;/*no*/
$fontSize21:21px;/*no*/
$loginTitle:30px;/*no*/

/*~~~~~~~~~~~~~~*/
/*  App通用尺寸  */
/*~~~~~~~~~~~~~~*/
$checkboxSize: 30px;
$headerPx: 90px;
$footerPx: 98px;


/*~~~~~~~~~~~~~~*/
/*  App常用颜色  */
/*~~~~~~~~~~~~~~*/
$blackColor:#333333;
$redColor:#F33131;
$grayColor:#999999;
$greenColor:#99CC66;
$blueColor:#2980E0;
$poolBlueColor:#99C5F6;
$yellowColor:#F47B2B;
$poolYellowColor:#EBBB9C;
